/* CSS Document */

/** book objeto */
.flipBook {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 800px;
    height: 600px;
}

.zoomBook, .zoomPage, .zoomSide, .bookStage {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
}

.bookStage {
    bottom: 0;
    right: 0;
    display: block;
    overflow: hidden;
}

.image {
    width: 640px;
    height: 920px;
    top: 1px;
    left: 1px;
}

.paper {
    position: absolute;
    top: 0;
    left: 320px;
    width: 320px;
    height: 460px;
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 460px;
    box-shadow: 0 0 10px rgba(40, 0, 0, 0.5);
}

.backShadow, .frontShadow, .shadowMask, .sideContent, .sidePosition {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 460px;
}

.searchScrollBox {
    position: absolute;
    overflow-y: auto;
    top: 55px;
    left: 5px;
    width: 280px;
}

.searchBackground, .shareBar {
    position: absolute;
    background-color: #888888;
    opacity: 0.8;
    overflow: hidden;
}

.searchBackground {
    width: 300px;
    height: 300px;
    display: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(40, 0, 0, 0.5);
    z-index: 100;
}

.searchContent {
    position: absolute;
    width: 300px;
    height: 265px;
    top: 35px;
    left: 0;
}

.leftShadow, .rightShadow {
    position: absolute;
    top: 0;
    width: 50px;
    height: 460px;
}

.leftShadow {
    right: 0;
    background-image: linear-gradient(to right, rgba(123, 123, 123, 0.005), rgba(63, 63, 63, 0.6));
}

.rightShadow {
    left: 0;
    background-image: linear-gradient(to left, rgba(63, 63, 63, 0.6), rgba(123, 123, 123, 0.005));
}

.shadowA, .shadowB, .shadowC, .shadowD {
    position: inherit;
    top: 0;
    left: 0;
    width: 320px;
    height: 460px;
}

.shadowA, .shadowC {
    background-image: linear-gradient(to right, rgba(123, 123, 123, 0.05) 0%, rgba(63, 63, 63, 0.4) 93%, rgba(123, 123, 123, 0) 100%);
}

.shadowB, .shadowD {
    background-image: linear-gradient(to right, rgba(123, 123, 123, 0) 0%, rgba(63, 63, 63, 0.8) 70%, rgba(123, 123, 123, 0) 100%);
}

.pageMask, .singleShadow {
    position: inherit;
    top: 0;
    left: 0;
    width: 320px;
    height: 460px;
    overflow: hidden;
}

.singleShadow {
    background-color: #888888;
    opacity: 0.5;
    display: none;
}

.thumbBar {
    bottom: -130px;
    left: 0;
    right: 0;
    position: absolute;
    height: 120px;
    z-index: 100;
}

.thumbBG {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 105px;
    overflow: hidden;
    background-color: #888888;
    opacity: 0.9;
}

.thumbBox {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 95px;
}

.thumbItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 82px;
    border: 1px inset #aaaaaa;
}

.scrollButton {
    position: absolute;
    top: 15px;
    width: 40px;
    height: 70px;
}

.shareButton {
    position: absolute;
    width: 133px;
    height: 30px;
}

.shareImg {
    width: 22px;
    height: 22px;
}

.adsBar {
    position: absolute;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.bottom.right, .bottom.right button, .bottom.right .numbering {
    position: absolute;
    top: 2px;
    left: auto;
}

a, button {
    cursor: pointer;
}

.bottom.right {
    padding-right: 10px;
}

.fbToolBar {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    opacity: 0.95;
}

.fbToolBar button {
    width: 45px;
    height: 33px;
    padding: 2px;
}

.numbering {
    bottom: 3px;
    color: #999999 !important;
}
